@use './styles/variables' as *;

.page {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background: transparent;
  padding: $padding-lg;
  position: relative;
  z-index: 1;
}

 