@use '../../styles/variables' as *;

.container {
  max-width: 1000px;
  width: 100%;
  background-color: $light-gray;
  height: 90vh;
  padding: $padding-base; 
  border-radius: $radius-xl;
  box-shadow: $shadow-purple-lg;
}


.inputSection{
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  gap: 10px;
  
}